.container {
    width: 1100px;
    background-color: $snow-white;
    background-image: url('../../images/sand.png');
    background-position: right 110%;
    background-repeat: no-repeat;
    background-size: 40%;
    color: $black;
}
